body{
    font-family: font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    
}
.half-width img{
    width: 50%;
}
.name-highlight{
    color: green;
}
